<form method="post">
	<label for="newActivityTitle">{{__ "Activity title"}}</label>
	<input type="text" name="newActivityTitle" required/>
	<button name="newActivityButton">{{__ "Send"}}</button>
	<button onclick="window.location='{{cancelTarget}}'; return false;">{{__ "Cancel"}}</button>
</form>

